<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new product</a>
<h1>Products</h1>
<table border="1">
    <tr>
        <th>Name Product</th>
        <th>Vendor</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.nameProduct}"></td>
            <td th:text="${product.vendor}"></td>
            <td><a th:href="@{/edit-product/__${product.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-product/__${product.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>